

@font-face {
    font-family: 'spicysoup';
    src: url('$lib/assets/fonts/Spicy Soup.ttf') format('truetype');
    src: url('$lib/assets/fonts/Spicy Soup.otf') format('opentype')
  }

#header, #main, #footer {
    font-family: 'spicysoup', sans-serif;
}

#header {
    min-height: 12vh;
    /* margin-bottom: 20px; */
}

#main {
    display: flex;
    min-height: 70vh;
    justify-content: center;
    align-items: center;
}

#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    min-height: 15vh;
    margin-top: 20px;
}