version: '3.5'

services:
  front:
    container_name: front-service-container
    build: ./frontend
    # volumes:
    # - ./frontend/src/routes:/usr/src/app/src/routes
    ports:
    - "4200:4200"
    restart: always

  back:
    container_name: backend-service-container
    build: ./backend
    volumes:
    -  ./backend:/usr/src/node-app
    ports:
    - "3000:3000"
    restart: always

  pong:
    build: ./pong
    container_name: pong-service-container
    image: "pong_img"
    volumes:
    -  ./pong/src:/usr/src/backend/src
    expose:
      - "5000"
    ports:
      - "5000:5000"
    networks:
      - default
    restart: "always"

